.header {
    color: white;
    font-size: 2rem;
  }
  .footer {
    margin-top: 7rem;
  }
  .content {
    border-style: solid;
    border-color: #212121;
    border-radius: 0.5rem;
    border-width: 1px;
    /* font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New; */
    padding: 1rem;
    margin-top: 20px;
  }
