.container {
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
    width: 100%;
}

.list {
    transition: ease 0.2s;
    font-size: 23px;
}

.list:hover {
    transition: ease 0.2s;
    color: red;
    font-size: 26px;
}